header
	nav(class="main-nav")
		ul
			li 
				a(href="/index.html") 
					| Home
			li 
				a(href="/items.html")
					| Items
			li 
				a(href="/monsters.html")
					| Monsters
			li 
				a(href="/bosses.html")
					| Bosses
			li
				a(href="/zones.html") 
					| Zones