header
	nav(class="main-nav")
		ul
			li 
				a(href="/") 
					| Home
			li 
				a(href="/items")
					| Items
			li 
				a(href="/monsters")
					| Monsters
			li 
				a(href="/bosses")
					| Bosses
			li
				a(href="/zones") 
					| Zones