---
title: "NecroMastery - Index Page"
description: "NecroMastery - A website for all things Crypt of the NecroDancer."
keywords: "crypt,necrodancer,necromastery"
section: "index"
---

extends /layout/base.jade

block content

	h1 Welcome to NecroMastery!

	p This website exists as a central location for information on all things NecroDancer.

	p We catalog knowledge on nearly everything that has to do with Crypt of the NecroDancer - information on items, monsters, bosses, zones, and even a damage calculator are all available here!

	p To explore this information, please use the navigation bar or the buttons below.