doctype html
html(lang="en")
  head
    title
      | Cheatsheet of the NecroDancer - Index Page
    link(rel="stylesheet" type="text/css" href="css/styles.css")
  body
    h1 Welcome to the Cheatsheet of the NecroDancer!