---
title: "NecroMastery - Items Page"
description: "NecroMastery - A website for all things Crypt of the NecroDancer."
keywords: "crypt,necrodancer,necromastery,memes"
section: "items"
---

extends /layout/base.jade

block content

	.listing

		h1 Items

		.container.head

			h2 Head

			.thumbnail.blast_helm
			.thumbnail.circlet

		.container.shovel

			h2 Shovel

			.thumbnail.base_shovel
			.thumbnail.titanium_shovel
			.thumbnail.obsidian_shovel
			.thumbnail.glass_shovel
			.thumbnail.glass_shard_shovel
			.thumbnail.pickaxe
			.thumbnail.crystal_shovel
			.thumbnail.blood_shovel

		.container.torch

			h2 Torch

			.thumbnail.base_torch
			.thumbnail.bright_torch
			.thumbnail.obsidian_torch
			.thumbnail.lum_torch
			.thumbnail.glass_torch
			.thumbnail.infernal_torch
			.thumbnail.foresight_torch