---
title: "NecroMastery - Items Page"
description: "NecroMastery - A website for all things Crypt of the NecroDancer."
keywords: "crypt,necrodancer,necromastery,memes"
section: "items"
---

extends /layout/base.jade

block content

	.listing

		h1 Items

		.container.attack

			h2 Attack

			.weapon-type-container

				.thumbnail.dagger.base
				.thumbnail.dagger.blood
				.thumbnail.dagger.gold
				.thumbnail.dagger.tit
				.thumbnail.dagger.obsidian
				.thumbnail.dagger.glass
				.thumbnail.dagger.glass_shard
				.thumbnail.dagger.jeweled
				.thumbnail.dagger.phasing
				.thumbnail.dagger.frost

			.weapon-type-container

				.thumbnail.longsword.base
				.thumbnail.longsword.blood
				.thumbnail.longsword.gold
				.thumbnail.longsword.tit
				.thumbnail.longsword.obsidian
				.thumbnail.longsword.glass

			.weapon-type-container

				.thumbnail.spear.base
				.thumbnail.spear.blood
				.thumbnail.spear.gold
				.thumbnail.spear.tit
				.thumbnail.spear.obsidian
				.thumbnail.spear.glass

			.weapon-type-container

				.thumbnail.broadsword.base
				.thumbnail.broadsword.blood
				.thumbnail.broadsword.gold
				.thumbnail.broadsword.tit
				.thumbnail.broadsword.obsidian
				.thumbnail.broadsword.glass

			.weapon-type-container

				.thumbnail.cat.base
				.thumbnail.cat.blood
				.thumbnail.cat.gold
				.thumbnail.cat.tit
				.thumbnail.cat.obsidian
				.thumbnail.cat.glass

			.weapon-type-container

				.thumbnail.flail.base
				.thumbnail.flail.blood
				.thumbnail.flail.gold
				.thumbnail.flail.tit
				.thumbnail.flail.obsidian
				.thumbnail.flail.glass

			.weapon-type-container

				.thumbnail.whip.base
				.thumbnail.whip.blood
				.thumbnail.whip.gold
				.thumbnail.whip.tit
				.thumbnail.whip.obsidian
				.thumbnail.whip.glass

			.weapon-type-container

				.thumbnail.bow.base
				.thumbnail.bow.blood
				.thumbnail.bow.gold
				.thumbnail.bow.tit
				.thumbnail.bow.obsidian
				.thumbnail.bow.glass

			.weapon-type-container

				.thumbnail.xbow.base
				.thumbnail.xbow.blood
				.thumbnail.xbow.gold
				.thumbnail.xbow.tit
				.thumbnail.xbow.obsidian
				.thumbnail.xbow.glass

			.weapon-type-container

				.thumbnail.rapier.base
				.thumbnail.rapier.blood
				.thumbnail.rapier.gold
				.thumbnail.rapier.tit
				.thumbnail.rapier.obsidian
				.thumbnail.rapier.glass

			.weapon-type-container

				.thumbnail.blunderbuss
				.thumbnail.rifle

			.weapon-type-container

				.thumbnail.lute

		.container.head

			h2 Head

			.thumbnail.blast_helm
			.thumbnail.circlet

		.container.shovel

			h2 Shovel

			.thumbnail.base_shovel
			.thumbnail.titanium_shovel
			.thumbnail.obsidian_shovel
			.thumbnail.glass_shovel
			.thumbnail.glass_shard_shovel
			.thumbnail.pickaxe
			.thumbnail.crystal_shovel
			.thumbnail.blood_shovel

		.container.torch

			h2 Torch

			.thumbnail.base_torch
			.thumbnail.bright_torch
			.thumbnail.obsidian_torch
			.thumbnail.lum_torch
			.thumbnail.glass_torch
			.thumbnail.infernal_torch
			.thumbnail.foresight_torch

		.container.ring

			h2 Ring

			.thumbnail.becoming
			.thumbnail.charisma
			.thumbnail.courage
			.thumbnail.gold
			.thumbnail.luck
			.thumbnail.mana
			.thumbnail.might
			.thumbnail.peace
			.thumbnail.phasing
			.thumbnail.protection
			.thumbnail.regen
			.thumbnail.shadows
			.thumbnail.shielding
			.thumbnail.war
			.thumbnail.wonder

		.container.chest

			h2 Chest

			.thumbnail.leather
			.thumbnail.chainmail
			.thumbnail.plate
			.thumbnail.plate_dorian
			.thumbnail.obsidian_armor
			.thumbnail.hplate
			.thumbnail.glass
			.thumbnail.gi

		.container.boots

			h2 Boots

			.thumbnail.ballet
			.thumbnail.explorers
			.thumbnail.lead
			.thumbnail.leaping
			.thumbnail.lunging
			.thumbnail.pain
			.thumbnail.speed
			.thumbnail.strength
			.thumbnail.float
			.thumbnail.greaves
